@import './base.scss';

.about {
    @include section;
    color: #eee;
    background: #111;

    h1 {
        color: #eee;
    }

    .container {
        display: block;
        grid-template-columns: 1fr;

        .hobby {
            padding: 3%;

            h3 {
                line-height: 1.5em;
                padding: 3%;
            }

            p {
                color: #aaa;
            }
        }
    }
}