@mixin section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 170px 10%;

    h1 {
        position: relative;
        margin: 2%
    }
}