@mixin section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 170px 10%;

    h1 {
        position: relative;
        margin: 2%
    }

    li {
        display: inline-block;
        padding: 0.3em 0.6em;
        margin: 0.4em;
    }
}