.homescreen {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 98vh;
    font-family: 'Montserrat',
    sans-serif;

    img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
        filter: brightness(0.25);
    }

    h1 {
        padding: 0.3em;
        font-weight: 400;
        text-align: center;
        transition: 1s ease-out;
    }

    h2 {
        font-weight: 300;
        padding: 0.3em;
        font-size: 1.4em;
    }


    .line {
        width: 90%;
        height: 2px;
        background: rgb(255, 0, 50);
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-bottom: 50px solid #fff;
    }
}

span.animate-left {
    transform: translateX(-100px);
}

span.animate-right {
    transform: translateX(100px);
}