@import './base.scss';

.projects {
    @include section;
    background: #fff;
    position: relative;
    padding: 130px 10%;
    
    .container {
        display: flex;
        max-width: 1200px;

        .project {
            display: flex;
            justify-content: center;
            margin: 7% 0;
            padding: 5%;
            width: 100%;
            position: relative;
            flex-direction: column;

            @media (min-width: 576px) {
                padding: 3% 5%;
                margin: 3% 0;
            }

            @media (min-width: 992px) {
                margin: 1% 0;
                flex-direction: row;
                align-items: center;
            }

            .header {
                display: flex;
                border-bottom: 2px solid rgb(255, 0, 50);
                justify-content: flex-end;
                
                @media (min-width: 450px) {
                    margin: 0 10%;
                }
                @media (min-width: 992px) {
                    margin: 0 10%;
                    flex-direction: column;
                    border-bottom: 0;
                    width: 300px;
                }
                
                h3 {
                    color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                    font-size: 2em;
                    text-align: right;

                    @media (min-width: 576px) {
                        font-size: 3em;
                    }

                    @media (min-width: 992px) {
                        border-bottom: 0;
                        padding: 5% 0;
                    }
                }

                .links {
                    justify-content: flex-end;
                    align-items: center;
                    display: flex;
                    width: 100%;

                    @media (min-width: 992px) {
                        justify-content: flex-end;
                    }

                    a {
                        padding: 0.2em 0.4em;
                        cursor: pointer;
                        color: black;
                        text-align: center;
                        line-height: 1em;

                        &:hover {
                            background: rgb(255, 0, 50);
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }


            .description {
                width: 100%;
                z-index: 20;
                
                @media (min-width: 992px) {
                    padding: 0 5%;
                    border-left: 2px solid rgb(255, 0, 50);
                }

                p {
                    padding: 5%;
                    letter-spacing: 0;

                    @media (min-width: 992px) {
                        padding: 2%;
                        font-size: 1.2em;
                    }
                }

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0 5%;

                    @media (min-width: 992px) {
                        padding: 0;
                        justify-content: flex-start;
                    }

                    li {
                        background: #000;
                        color: #eee;
                        padding: 0.3em 0.6em;
                    }
                }
            }
        }
    }

    &:after {
        content: '';
        width: 84%;
        height: 90%;
        position: absolute;
        top: 5%;
        left: 8%;
        clip-path: polygon(0 0, 60% 0, 100% 25%, 100% 100%, 40% 100%, 0 75%);
        border: 1px solid #000;
        pointer-events: none;
    }
}